<ul>
    <li>
        <app-user-item [name]="'User1'"></app-user-item>
    </li>
    <li>
        <app-user-item [name]="'User2'"></app-user-item>
    </li>
    <li> 
        <app-user-item [name]="'User3'"></app-user-item>
    </li>
</ul>