<div class="container mt-5">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Birthday</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.birthdate}}</td>
        <td>{{user.address}}</td>
        <td>{{user.mobile}}</td>
        <td>{{user.gender}}</td>
      </tr>
    </tbody>
  </table>
</div>
